body{

font-family:Arial;
background:#111;
color:white;
text-align:center;

}


.box{

background:#222;
padding:30px;
margin:30px auto;
width:80%;
border-radius:15px;

}


input,select{

padding:12px;
margin:10px;
width:80%;

}


button{

padding:15px 30px;
background:#00ff88;
border:none;
border-radius:10px;
cursor:pointer;
font-size:18px;

}


#resultat{

margin-top:30px;
text-align:left;
background:#333;
padding:20px;
border-radius:10px;

}
